#mainContent {
	font-family: Helvetica;
	font-size: xx-large;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
    color: #007bff;
	
}
.buttonStyle {
	border-radius: 10px;
	border: thin solid #ffdd00;
	padding: 10px;
	background-color: #e2c714;
	font-family: "Segoe UI", Helvetica;
	font-weight: bold;
	color: #000000;
	width: 80px;
}
 .buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #d6bb0c;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #dac547;
	cursor: pointer;
}